{namespace nn=NN\NnAddress\ViewHelpers}
<f:layout name="List" />
<f:section name="main">

<f:if condition="{settings.enableSearch}">
	<f:if condition="{settings.groupSearchTypeAnd}">
		<f:then><f:render partial="Search/FormAnd" arguments="{sword:sword,groups:groups,selectedGroups:selectedGroups}" /></f:then>
		<f:else><f:render partial="Search/Form" arguments="{sword:sword,groups:groups,selectedGroup:selectedGroup,groupHierachy:groupHierachy}" /></f:else>
	</f:if>
</f:if>

<ul class="tx_nnaddress_range">
	<li>
		<f:link.action>{f:translate(key:'LLL:EXT:nn_address/Resources/Private/Language/locallang.xlf:all')}</f:link.action>
	</li>
	<f:for each="{range}" key="char" as="count">
		<li>
			<f:if condition="{count} > 0">
				<f:then><f:link.action class="{f:if(condition:'{nn:gp(gp:\'char\',secure:1,check:\'/^([A-Z]\{1\})$/\')} == {char}',then:'active',else:'inactive')}" arguments="{sword:'{sword}',group:'{selectedGroup}',orderBy:'{orderby}',order:'{order}',char:'{f:if(condition:\'{char} == \\\'#\\\'\',then:\'NUM\',else:\'{char}\')}'}">{char}</f:link.action></f:then>
				<f:else>{char}</f:else>
			</f:if>
		</li>
	</f:for>
</ul>

<nn:widget.paginate objects="{groupedPersons}" as="paginatedGroupedPersons" configuration="{sliceSub:1,itemsPerPage:settings.itemsPerPage,maximumNumberOfLinks:5}">

<table class="tx_nnaddress" >
	<tr class="orderby_{orderby}">
		<th class="lastName order_{order}"><f:link.action arguments="{orderArgsName}"><f:translate key="tx_nnaddress_domain_model_person.last_name" /></f:link.action></th>
		<th class="organisation order_{order}"><f:link.action arguments="{orderArgsOrga}"><f:translate key="tx_nnaddress_domain_model_person.organisation" /></f:link.action></th>
        <th><f:translate key="tx_nnaddress_domain_model_phone.number" /></th>
	</tr>
	
	<f:for each="{paginatedGroupedPersons}" as="persons" key="group">
	  <f:if condition="{persons}">
		<tr>
			<th colspan="3">{group}</th>
		</tr>
		<f:for each="{persons}" as="person" iteration="i">
			<tr class="{f:if(condition: '{i.isEven}', then: 'even', else: 'odd')}">
				<td>
				  <f:link.action arguments="{person : person}">
					<f:translate key="LLL:EXT:nn_address/Resources/Private/Language/locallang_csh_tx_nnaddress_domain_model_person.xlf:gender.{person.gender}" />
					{person.title} {person.firstName} {person.lastName}
				  </f:link.action>
				</td>
				<td>{person.organisation}</td>
				<td>
					<!--<f:comment>
						Example on using the NN Viewhelper to get a specific entry by type field.
						In this case get only the WORK Phone number.
						
						Other view helper examples, like only get the first (ordered by sorting) entry found in /Resources/Private/ContentDesigner/ templates
					</f:comment>-->
					<f:alias map="{phone: '{person.phones -> nn:iterator.getByProperty(property:\'type\',value:1)}'}">
						{phone.number}
					</f:alias>
				</td>
			</tr>
		</f:for>
	  </f:if>
	</f:for>
</table>

</nn:widget.paginate>

</f:section>